* {
  padding: 0;
  margin: 0;
}

/* Header */

.header-index {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-index h1 {
  color: rgb(236, 4, 4);
  transition: 0.5s;
}

.header-index img {
  margin: 20px;
  width: 150px;
  height: auto;
  transition: 0.5s;
}

.header-index nav ul li {
  border-radius: 5px;
  background-color: rgb(128, 128, 128);
  display: inline-block;
  margin: 15px;
  padding: 5px;
  list-style: none;
  box-shadow: 2px 2px 7px rgb(141, 0, 0);
  transition: 0.5s;
}

.header-index nav ul li a {
  color: #fff;
  text-decoration: none;
}

/*Transiciones header*/

.header-index h1:hover {
  text-shadow: 3px 3px 7px #fff;
}

.header-index img:hover {
  box-shadow: 3px 3px 7px #fff;
  width: 180px;
}

.header-index nav ul li:hover {
  background-color: #000;
  box-shadow: 3px 3px 7px #fff;
  border: 2px solid rgb(141, 0, 0);
  padding: 10px;
}

/* Section */
.section-index {
  background-color: grey;
  text-align: center;
  transition: 0.3s;
}

.section-index h2 {
  padding: 25px;
}

.contenedor .card {
  background-color: #000;
  color: #fff;
}

.contenedor {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.h2-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.section-creadores {
  transition: 0.3s;
}

/*Transiciones section*/

.section-index:hover {
  background-color: #2b2424;
  color: #fff;
}

.section-index .card:hover {
  box-shadow: -3px 10px 10px #fff;
  border: 2px solid rgb(245, 228, 0);
}

.section-creadores:hover {
  background-color: rgb(252, 2, 252);
  color: #fff;
}

.section-creadores div img:hover {
  border: 2px solid #fff;
}

/* Footer */

.footer-index {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.footer-index ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.footer-index ul li a {
  color: rgb(236, 4, 4);
  text-decoration: none;
}

.footer-index img {
  margin: 20px;
  width: 150px;
  height: auto;
}

/*Transiciones footer*/

.footer-index ul li:hover {
  background-color: #96000098;
  border: 2px solid #fff;
  border-radius: 8px;
}

.footer-index ul li a:hover {
  color: #fff;
}



/*Faltantes*/

/*Header tienda*/

.header-tienda {
  background-color: #2b2424;
  color: #fff;
  display: flex;
  justify-content: space-between;
  transition: all 1;
}

.header-tienda nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}

.header-tienda nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.header-tienda h1 {
  margin: 15px;
}

.header-tienda img {
  width: 50px;
  margin: 5px 15px;
}

/*Section*/
.main-tienda {
  background-color: #750000da;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  gap: 10px;
}

.grid span {
  font-weight: bolder;
}

/*Footer Tienda*/

.footer-tienda {
  display: flex;
  background-color: rgb(133, 130, 130);
  justify-content: center;
}

.footer-tienda ul li {
  list-style: none;
  display: inline-block;
  padding: 50px;
}

.footer-tienda ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.header-tienda nav ul li a:hover {
  color: yellow;
}
.footer-tienda ul li a:hover {
  color: yellow;
}

/*Otros juegos*/

/*Header*/

.header-otros-juegos {
  color: #fff;
  background-color: #000;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.header-otros-juegos img {
  width: 150px;
  margin-right: 200px;
}

/*Section*/
.main-otros-juegos {
  background-color: #0000009a;
}

.galeria img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  margin-top: 15px;
}

.galeria {
  width: 90%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

.galeria img:hover {
  border: 3px solid rgb(141, 0, 0);
}

.main-otros-juegos p {
  color: #fff;
  font-size: 25px;
}

/*Footer Otros Juegos*/

.footer-otros-juegos {
  background: #000000;
  padding-top: 50px;
  color: #fff;
}

.footer-otros-juegos h3 {
  font-size: 30px;
  margin: 20px;
}

.footer-otros-juegos ul li {
  list-style: none;
  display: inline-block;
}

.footer-otros-juegos ul li a {
  color: #fff;
  font-size: 20px;
  margin: 20px;
}

/*Tesoros*/

/*Header tesoros*/
.header-tesoros {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190623/ourmid/pngtree-full-screen-gold-coin-financial-industry-background-image_248292.jpg");
}
.header-tesoros h1 {
  background-color: #000;
  color: #fff;
  margin-top: 5px;
}

.header-tesoros nav {
  margin-left: auto;
}
.header-tesoros nav ul li {
  list-style: none;
  padding: 15px;
  display: inline-block;
  background-color: rgb(241, 241, 0);
  border: 2px solid #000;
}

.header-tesoros nav ul li a {
  color: #000;
  text-decoration: none;
}

/*Main*/

.main-tesoro {
  background-image: url("https://i.pinimg.com/originals/e4/01/e6/e401e6cba24ae610dcac067052a62dee.jpg");
}

.tesoros-card {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.tesoros-card .card {
  border: 5px solid #fbff00;
}

/*Footer Tesoros*/

.footer-tesoros {
  background-color: #000;
  display: flex;
  justify-content: center;
}

.footer-tesoros ul li {
  display: inline-block;
  padding: 15px;
  font-size: 25px;
}

/*Enemigos*/

.header-enemigos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 100px;
}

.header-enemigos h1 {
  margin-left: 50%;
}

.header-enemigos nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}

.header-enemigos nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/*Main*/
.fondo-black {
  background-color: #000;
}

.enemigos img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  margin-top: 15px;
}

.enemigos {
  width: 90%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

/*Footer*/

.footer-enemigos {
  background-color: #3d3d3d;
  display: flex;
  justify-content: space-between;
}

.footer-enemigos ul li{
  list-style: none;
  display: inline-block;
  height: 150px;
  margin-top: 25px;

}

.footer-enemigos ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 25px;
}


/* Responsive */

@media (max-width: 320px) {
  .header-index h1,
  .header-index img {
    display: none;
  }

  .header-index nav ul li:hover {
    border: none;
    padding: none;
  }

  .header-index nav ul li {
    display: block;
  }
  .contenedor {
    display: inline;
  }

  .card {
    margin-top: 15px;
  }

  .footer-index h2,
  .footer-index img {
    display: none;
  }

  .footer-index ul li:hover {
    border: none;
    padding: inherit;
  }

  .footer-index ul li {
    display: block;
  }
}

@media (max-width: 375px) {
  .header-index h1 {
    display: none;
  }
  .header-index img:hover {
    margin: 20px;
    width: 150px;
    height: auto;
    transition: 0.5s;
  }
  .header-index nav ul li:hover {
    border: none;
    padding: 0;
  }

  .header-index nav ul li {
    display: block;
  }

  .contenedor {
    display: inline;
  }

  .card {
    margin-top: 15px;
  }

  .footer-index h2 {
    display: none;
  }

  .footer-index ul li:hover {
    border: none;
    padding: none;
  }

  .footer-index ul li {
    display: block;
  }
  .footer-index img {
    margin-right: 20px;
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 425px) {
  .header-index img {
    display: flex;
    margin: 0;
  }
  .header-index img:hover {
    margin: 0;
    width: 150px;
    height: auto;
    transition: 0.5s;
  }

  .header-index nav ul li:hover {
    border: none;
    padding: 0;
  }
  .header-index h1 {
    text-align: center;
    padding: 0px;
  }

  .contenedor {
    display: inline-block;
  }

  .card {
    margin-top: 15px;
  }

  .footer-index h2 {
    display: none;
  }
  .footer-index img {
    margin-right: 20px;
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .header-index img:hover {
    width: 150px;
    height: auto;
    transition: 0.5s;
  }

  .contenedor {
    display: inline-block;
  }

  .card {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
  }

  .card {
    margin-top: 15px;
  }
}