* {
  padding: 0;
  margin: 0;
}

/* Header */

.header-index {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-index h1 {
  color: rgb(236, 4, 4);
  transition: 0.5s;
}

.header-index img {
  margin: 20px;
  width: 150px;
  height: auto;
  transition: 0.5s;
}

.header-index nav ul li {
  border-radius: 5px;
  background-color: rgb(128, 128, 128);
  display: inline-block;
  margin: 15px;
  padding: 5px;
  list-style: none;
  box-shadow: 2px 2px 7px rgb(141, 0, 0);
  transition: 0.5s;
}

.header-index nav ul li a {
  color: #fff;
  text-decoration: none;
}

/*Transiciones header*/

.header-index h1:hover {
  text-shadow: 3px 3px 7px #fff;
}

.header-index img:hover {
  box-shadow: 3px 3px 7px #fff;
  width: 180px;
}

.header-index nav ul li:hover {
  background-color: #000;
  box-shadow: 3px 3px 7px #fff;
  border: 2px solid rgb(141, 0, 0);
  padding: 10px;
}

/* Section */
.section-index {
  background-color: grey;
  text-align: center;
  transition: 0.3s;
}

.section-index h2 {
  padding: 25px;
}

.contenedor .card {
  background-color: #000;
  color: #fff;
}

.contenedor {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.h2-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.section-creadores {
  transition: 0.3s;
}

/*Transiciones section*/

.section-index:hover {
  background-color: #2b2424;
  color: #fff;
}

.section-index .card:hover {
  box-shadow: -3px 10px 10px #fff;
  border: 2px solid rgb(245, 228, 0);
}

.section-creadores:hover {
  background-color: rgb(252, 2, 252);
  color: #fff;
}

.section-creadores div img:hover {
  border: 2px solid #fff;
}

/* Footer */

.footer-index {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.footer-index ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.footer-index ul li a {
  color: rgb(236, 4, 4);
  text-decoration: none;
}

.footer-index img {
  margin: 20px;
  width: 150px;
  height: auto;
}

/*Transiciones footer*/

.footer-index ul li:hover {
  background-color: #96000098;
  border: 2px solid #fff;
  border-radius: 8px;
}

.footer-index ul li a:hover {
  color: #fff;
}

/* Responsive */

@media (max-width: 320px) {
  .header-index h1,
  .header-index img {
    display: none;
  }

  .header-index nav ul li:hover {
    border: none;
    padding: none;
  }

  .header-index nav ul li{
    display: block;
  }
  .contenedor {
    display: inline;
  }

  .card {
    margin-top: 15px;
  }

  .footer-index h2,
  .footer-index img {
    display: none;
  }

  .footer-index ul li:hover {
    border: none;
    padding: inherit;
  }

  .footer-index ul li {
    display: block;
  }
}


@media (max-width: 375px) {
  .header-index h1 {
    display: none;
  }
  .header-index img:hover {
    margin: 20px;
    width: 150px;
    height: auto;
    transition: 0.5s;
  }
  .header-index nav ul li:hover {
    border: none;
    padding: 0;
  }

   
.header-index nav ul li{
  display: block;
}

  .contenedor {
    display: inline;
  }

  .card {
    margin-top: 15px;
  }

  .footer-index h2 {
    display: none;
  }

  .footer-index ul li:hover {
    border: none;
    padding: none;
  }

  .footer-index ul li {
    display: block;
  }
  .footer-index img {
    margin-right: 20px;
    width: 150px;
    height: 100px;
    
  }
}



@media (max-width:425px){
  .header-index img{
    display: flex;
    margin: 0;
    
  }
  .header-index img:hover {
    margin: 0;
    width: 150px;
    height: auto;
    transition: 0.5s;
  }

  .header-index nav ul li:hover {
    border: none;
    padding: 0;
  }
  .header-index h1{
    text-align: center;
    padding: 0px;
  }

  .contenedor {
    display: inline-block;
  }

  .card {
    margin-top: 15px;
  }

  .footer-index h2 {
    display: none;
  }
  .footer-index img {
    margin-right: 20px;
    width: 150px;
    height: 100px;
    
  }
}

@media (max-width:768px){

  .header-index img:hover {
    width: 150px;
    height: auto;
    transition: 0.5s;
  }

  .contenedor {
    display: inline-block;
  }

  .card {
    margin-top: 15px;
  }
}

@media (min-width:1024px) and (max-width:1440px) {
  .contenedor {
    display: grid ;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
  }

  .card {
    margin-top: 15px;
  } 
}